<a href="https://colab.research.google.com/github/nochwysid/CSE5008-SP/blob/main/1_SciProg_Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:**  Arun Jambulapati (jmblpati@stanford.edu)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** We'll intersperse lecture with breaks to work on exercises.  These breaks are good chances to try out what you learn, and ask for help if you're stuck.  You aren't required to submit solutions to the exercises, and should focus on exercises you find most interesting if there are multiple options.

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** TBD: I'll post these on the course website once I schedule them

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. NumPy basics
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be ok.

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
import math
print(math.pi)

3.141592653589793

# Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [ ]:
x = 1
print(x)

1

In [ ]:
y = "test"

In [ ]:
print(y)

test

In [ ]:
x = 1
x = "string"
print(x)

string

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
x = "string"
print(type(x))

<class 'str'>

In [ ]:
x = 0.1
print(type(x))

<class 'float'>

In [ ]:
x = 0.1
type(x)

float

In [ ]:
x

0.1

In [ ]:
'a' == "a"

True

# Basic Arithmetic

Operators for integers:
`+ - * / // % **`

Operators for floats:
`+ - * / **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [ ]:
not (5 == 5.0) #equivalent to 5 != 5.0

False

In [ ]:
True and True

True

In [ ]:
type(4/2)

float

In [ ]:
type(4//2)

int

In [ ]:
4//2

2

In [ ]:
4.0//2.0

2.0

In [ ]:
5//3 #=1 remainder 2

1

In [ ]:
6%3

0

In [ ]:
5%3

2

In [ ]:
4.1**3.2

91.39203368671122

# Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [ ]:
str1 = "Hello, "
str2 = "World!"
str3 = str1 + str2
str3

'Hello, World!'

In [ ]:
print(str3)

Hello, World!

Formatting:

In [ ]:
x = 23
y = 50
name = "Alice"

str1 = f"{name}'s numbers are {x} and {y}, and their sum is {x + y}"
str1

"Alice's numbers are 23 and 50, and their sum is 73"

In [ ]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}, {}".format(3.14,2.73)
print(str3)

a: string
b: 1.000000, hello, 5
c: 3.14, 2.73

In [ ]:
x = 23
"a: %d" % x

In [ ]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

Hello, World!
HELLO, WORLD!
hello, world!

In [ ]:
str1 = str1.lower()
str1

'hello, world!'

In [ ]:
str1.replace?

In [ ]:
str1.replace('l', 'p')

'heppo, worpd!'

# Control Flow

If statements:

In [ ]:
x = 0
y = 2
z = 1
if x == y:
    print("Hello")
elif x == z:
    print("Goodbye")
elif x == 3:
    print("x is 3")
else:
    print("???")

???

In [ ]:
if 1 == 2:
    print("this runs")
    
print("this runs too")

this runs too

**For loops**

In [ ]:
print("loop 1")
for i in range(5): # default - start at 0, increment by 1
    print(i)
    
print("")
print("loop 2")
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

loop 1
0
1
2
3
4

loop 2
10
8
6
4

**while loops**

In [ ]:
i = 1
while i < 100:
    print(i**2)
    i += i**2  # a += b is short for a = a + b

1
4
36
1764

**continue** - skip the rest of a loop

**break** - exit from the loop

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        continue # this jumps us back to the top
    print(f"Found {num}, an odd number")

Found 3, an odd number
Found 5, an odd number
Found 7, an odd number
Found 9, an odd number

In [ ]:
n = 64
for x in range(2, n):
    if n % x == 0: # if n divisible by x
        print(f'{n} equals {x} * {n // x}')
        break

64 equals 2 * 32

In [ ]:
for i in range(5):
    for j in range(5*i):
        if j == 10:
            print(j)
            break   
    #break exits to here

#break does not exit here

10
10

**pass** does nothing

In [ ]:
if False:
    pass #do nothing
else:
    print('True!')

True!

# Exceptions

In [ ]:
try:
    x = 100 / 1
    asd
except ZeroDivisionError:
    print("We divided by zero")
except NameError:
    print("variable not defined")

variable not defined

In [ ]:
try:
    x = 100 / 1
    asd
except:
    print("Error")

Error

# Functions

Functions are declared with the keyword `def`

In [ ]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    #here are operations
    #part of function
    #etc
    return 0.5 * base * height

triangle_area(1, 2)

1.0

In [ ]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(-1, 2)

ValueError: Base and height must be non-negative

In [ ]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x+2

def twice(g,x):
    return g(g(x))

twice(f,2) # + 4

6

In [ ]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        x = f(x)
    return x

n_apply(f, 1, 5) # 1 + 2*5

11

In [ ]:
def g(a, x, b=0):
    return a * x + b

In [ ]:
def h(a, b, x=3,y=2):
    return a * x + b*y

In [ ]:
h(1,1,y=1) #equivalent to h(1,1,3,1)

4

In [ ]:
h(x=4,a=5,y=1,b=2)

22

In [ ]:
g(2, 5, 1)

11

In [ ]:
g(2, 5)

10

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [ ]:
#YOUR CODE HERE
n = 1
while n < 10000:
    #print(n)
    n *= 2

In [ ]:
def f(a,b):
    return a+2*b
f(1,2)

5

In [ ]:
def fib(n):
    a =1
    b = 1
    while b < n:
        print(b)
        a,b = b,a+b
        
fib(1000)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

# Lists

A list in Python is an ordered (and indexed) collection of objects

In [ ]:
a = ['x', 1, 3.5]
print(a)
a[0]

['x', 1, 3.5]

'x'

You can iterate over lists in a very natural way

In [ ]:
for elt in ["step1", "step2"]:
    print(elt)

step1
step2

Python indexing starts at 0.

In [ ]:
a[0] = "overwritten"
a

['overwritten', 1, 3.5]

In [ ]:
#can even put functions and other lists inside of lists!
def f(x):
    return x

b = [f, [1,2,2.1]]
print(b)

[<function f at 0x7fba606fac10>, [1, 2, 2.1]]

You can append to lists using `.append()`, and do other operations, such as `pop()`, `insert()`, etc.

In [ ]:
a = []
print(a)
for i in range(10):
    a.append(i**2)
    print(a)

[]
[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}")

Removed 81, a is now [0, 1, 4, 9, 16, 25, 36, 49, 64]
Removed 64, a is now [0, 1, 4, 9, 16, 25, 36, 49]
Removed 49, a is now [0, 1, 4, 9, 16, 25, 36]
Removed 36, a is now [0, 1, 4, 9, 16, 25]
Removed 25, a is now [0, 1, 4, 9, 16]
Removed 16, a is now [0, 1, 4, 9]
Removed 9, a is now [0, 1, 4]
Removed 4, a is now [0, 1]
Removed 1, a is now [0]
Removed 0, a is now []

In [ ]:
a = [1,2,3]
a.insert(1,'new value')
print(a)

[1, 'new value', 2, 3]

In [ ]:
a.remove('new value')
print(a)

[1, 2, 3]

In [ ]:
a = [1,2,3]
b = ["x", "y"]
a.extend(b)
print(a)

[1, 2, 3, 'x', 'y']

In [ ]:
a+b

[1, 2, 3, 'x', 'y', 'x', 'y']

In [ ]:
print(f"a + [1,2]: {a + [1,2]}")

a + [1,2]: [1, 2, 3, 'x', 'y', 1, 2]

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

Lists in python are only implicitly collections of the objects that constitute them. Setting one array equal to another can lead to unexpected results:

In [ ]:
b = a #shallow
b = a.copy() # deep
print(f"original a:, {a}")
print(f"original b:, {b}")
b[0] = "edited"
print("after edit...")
print(f"a:, {a}")
print(f"b:, {b}")

original a:, ['edited', 2, 3, 'x', 'y']
original b:, ['edited', 2, 3, 'x', 'y']
after edit...
a:, ['edited', 2, 3, 'x', 'y']
b:, ['edited', 2, 3, 'x', 'y']

In [ ]:
a.copy?

#start here lecture 2

A list only stores some pointers to locations in your computer's memory: when we wrote `b = a` Python created a new list `b` which shares its entries with `a`. 

The function `.copy()` will create a completely distinct copy with new objects.

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ \sqrt{x} ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [ ]:
import math
S = [math.sqrt(x) for x in range(21) if x % 3 == 0]
S

In [ ]:
S= []
for x in range(21):
    if x % 3 == 0:
        S += [math.sqrt(x)]
S

In [ ]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            if (i + j + k)%2 == 0:
                S += [(i,j,k)]

S

In [ ]:
# you aren't restricted to a single for loop
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2) if (i + j + k)%2 == 0]
S

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

# Other Collections

We've seen the `list` class, which is ordered, indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered, indexed, and immutable
* `set` which is unordered, unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), which is unordered, indexed, and mutable, with no duplicate keys.

In [ ]:
a_tuple = (1, 2, 4)
a_tuple[0] = 3

In [ ]:
a_set = {5, 3, 2, 5}
for i in a_set:
    print(i)

In [ ]:
a_set.add(6)
a_set.remove(6)
a_set

In [ ]:
a_dict = {}
a_dict[5] = 12
a_dict["key_2"] = 27
a_dict["key_3"] = [13, "value"]
a_dict[5] = "new value"
a_dict["key_2"] = 28
a_dict

In [ ]:
a_dict_copy = {5: 'new value', 'key_2': 28, 'key_3': [13, 'value']}

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python 
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

# Classes

Classes let you abstract away details while programming.

In [ ]:
class Animal:
    def say_hi(self):
        print("Hello!")

In [ ]:
x = Animal()
x.say_hi()

## Example: Rational Numbers

Here we'l make a class that holds rational numbers (fractions).  That is, numbers of the form
$$r = \frac{p}{q}$$
where $p$ and $q$ are integers

In [ ]:
class Rational:
    def __init__(self, p, q=1):
    
        if q == 0:
            raise ValueError('Denominator must not be zero')
        if not isinstance(p, int):
            raise ValueError('Numerator must be an integer')
        if not isinstance(q, int):
            raise ValueError('Denominator must be an integer')
        
        g = math.gcd(p, q)
        
        self.p = p // g # integer division
        self.q = q // g
    
    # method to convert rational to float
    def __float__(self):
        return self.p / self.q
    
    # method to convert rational to string for printing
    def __str__(self):
        return f'{self.p}/{self.q}'
    
    def __repr__(self):
        return f'Rational({self.p}, {self.q})'

In [ ]:
a = Rational(6, 4)
b = Rational(3, 2)

print(type(a))
print(f"a = {a}")
print(f"b = {b}")
print([a,b])
print(f"float(a) = {float(a)}")

In [ ]:
a + b

You can do cool things like overload math operators.  This lets you write code that looks like you would write math.  Recall

$$ \frac{p_1}{q_1} + \frac{p_2}{q_2} = \frac{p_1 q_2 + p_2 q_1}{q_1 q_2}$$

We'll see this next time!