<a href="https://colab.research.google.com/github/nochwysid/CSE5008-SP/blob/main/6_SciProg_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CME 193 - Lecture 6 - Pandas

Before we get started, you may want to make sure that you have the following packages installed in whatever environment you're using: `pandas`

```bash
conda install pandas
```

If you are in colab, it should be preinstalled

Pandas is a package for working with tabular data.

# Pandas

[Pandas](https://pandas.pydata.org/) is a Python library for dealing with data.  The main thing you'll hear people talk about is the DataFrame object (inspired by R), which is designed to hold tabular data.

## Difference between a DataFrame and NumPy Array

Pandas DataFrames and NumPy arrays both have similarities to Python lists.  
* Numpy arrays are designed to contain data of one type (e.g. Int, Float, ...)
* DataFrames can contain different types of data (Int, Float, String, ...)
    * Usually each column has the same type
    
    
Both arrays and DataFrames are optimized for storage/performance beyond Python lists

Pandas is also powerful for working with missing data, working with time series data, for reading and writing your data, for reshaping, grouping, merging your data, ...

## Key Features

* File I/O - integrations with multiple file formats
* Working with missing data (.dropna(), pd.isnull())
* Normal table operations: merging and joining, groupby functionality, reshaping via stack, and pivot_tables,
* Time series-specific functionality:
    * date range generation and frequency conversion, moving window statistics/regressions, date shifting and lagging, etc.
* Built in Matplotlib integration

## Other Strengths

* Strong community, support, and documentation
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects Intelligent label-based slicing, fancy indexing, and subsetting of large data sets

## Python/Pandas vs. R

* R is a language dedicated to statistics. Python is a general-purpose language with statistics modules.
* R has more statistical analysis features than Python, and specialized syntaxes.

However, when it comes to building complex analysis pipelines that mix statistics with e.g. image analysis, text mining, or control of a physical experiment, the richness of Python is an invaluable asset.

# Getting Started

[Here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) is a link to the documentation for DataFrames

In [ ]:
import pandas as pd
import numpy as np

## Objects and Basic Creation

| Name | Dimensions | Description  |
| ------:| -----------:|----------|
| ```pd.Series``` | 1 | 1D labeled homogeneously-typed array |
| ```pd.DataFrame```  | 2| General 2D labeled, size-mutable tabular structure |
| ```pd.Panel``` | 3|  General 3D labeled, also size-mutable array |

# Series
## What are they?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- Basic method to create a series: 
```s = pd.Series(data, index = index) ```
- Data Can be many things:
    * A Python Dictionary
    * An ndarray (or regular Python list)
    * A scalar 
- The passed index is a list of axis labels (which varies on what data is)

Think "Series = Vector + labels"

In [ ]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)
s['e']

a    0.881476
b   -0.040573
c   -0.709955
d   -0.798804
e    0.028839
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

0.028838869963367028

If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict

In [ ]:
d = {'a': [0., 0], 2: 2., 'b': {'1':1.}}
pd.Series(d)

a      [0.0, 0]
2           2.0
b    {'1': 1.0}
dtype: object

You can create a series from a scalar, but need to specify indices

In [ ]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

You can index and slice series like you would numpy arrays/python lists

In [ ]:
end_string = '\n' + '-'*50 + '\n'
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -2.167156
b    2.245154
c    0.284073
d    1.462565
e    0.015066
dtype: float64

In [ ]:
s[1] == s['b']

True

In [ ]:
print(s[0], end = end_string)
# slicing
print(s[:3], end =end_string)
#alternate slicing
print(s['a':'c'], end = end_string)

-2.1671560297090933
--------------------------------------------------
a   -2.167156
b    2.245154
c    0.284073
dtype: float64
--------------------------------------------------
a   -2.167156
b    2.245154
c    0.284073
dtype: float64
--------------------------------------------------

In [ ]:
s1 = pd.Series(np.random.randn(5), index=['a', 'd', 'd', 'b', 'e'])
s1['a':'d']

a    0.063294
d   -1.158926
d    1.306314
dtype: float64

In [ ]:
s1[:3]

a    0.063294
d   -1.158926
d    1.306314
dtype: float64

In [ ]:
s1 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'cb', 'e'])
s1['a':'ca']

a   -0.929888
b    1.742064
c   -1.166325
dtype: float64

In [ ]:
s1 = pd.Series(np.random.randn(5), index=['a', 'c', 'c', 'ba', 'e'])
#print(s1['a':'b'], end = end_string)

In [ ]:
s1[s1>1]

c    1.725087
e    1.259156
dtype: float64

In [ ]:
s[s> s.mean()]

b    2.245154
d    1.462565
dtype: float64

In [ ]:
# conditional max - index with booleans
print(s[ s > s.mean()], end = end_string)
# elementwise function - vectorization
print(np.exp(s), end = end_string)

b    2.245154
d    1.462565
dtype: float64
--------------------------------------------------
a    0.114503
b    9.441872
c    1.328530
d    4.317017
e    1.015180
dtype: float64
--------------------------------------------------

Series are also like dictionaries - you can access values using index labels

In [ ]:
print(s, end = end_string)
print(s['a'], end = end_string)

a   -2.167156
b    2.245154
c    0.284073
d    1.462565
e    0.015066
dtype: float64
--------------------------------------------------
-2.1671560297090933
--------------------------------------------------

In [ ]:
s['e'] = 12 # set element using index label
print(s, end = end_string)
print('f' in s, end = end_string) # check for index label
print(s.get('f', None), end = end_string) # get item with index 'f' - if no such item return None
print(s.get('e', None), end = end_string)

a    -2.167156
b     2.245154
c     0.284073
d     1.462565
e    12.000000
dtype: float64
--------------------------------------------------
False
--------------------------------------------------
None
--------------------------------------------------
12.0
--------------------------------------------------

### Series Attributes:

- Get the index : 
```python 
s.index ``` 
- Get the values :
``` python 
s.values ``` 
- Find the shape : 
``` python 
s.shape ``` 

### Series Iteration

In [ ]:
a = np.zeros(5)
for i in a:
    print(i)

0.0
0.0
0.0
0.0
0.0

In [ ]:
for idx,val in s.iteritems():
    print(idx,val)

a -2.1671560297090933
b 2.2451542150923856
c 0.2840734326301267
d 1.4625646280585323
e 12.0

Sort by index or by value

In [ ]:
print(s.sort_index(), end = end_string)
print(s.sort_values(), end = end_string)

a    -2.167156
b     2.245154
c     0.284073
d     1.462565
e    12.000000
dtype: float64
--------------------------------------------------
a    -2.167156
c     0.284073
d     1.462565
b     2.245154
e    12.000000
dtype: float64
--------------------------------------------------

In [ ]:
s.sort_values?

Find counts of unique values

In [ ]:
s = pd.Series([0,0,0,1,1,1,2,2,2,2])
sct = s.value_counts()
print(sct)

2    4
0    3
1    3
dtype: int64

You can do just about anything you can do with a numpy array

- Series.mean()
- Series.median()
- Series.mode()
- Series.nsmallest(num)
- Series.max ...

In [ ]:
print(s.min(),end = end_string)
print(s.max(), end = end_string)

0
--------------------------------------------------
2
--------------------------------------------------

## Exercise

- Consider the series `s` of letters in a sentence.
- What is count of each letter in the sentence, output a series which is sorted by the count
- Create a list with only the top 5 common letters (not including space)

In [ ]:
s.value_counts?

In [ ]:
s=pd.Series(list("Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the indexeeeeeee."))

In [ ]:
s1 = s.value_counts(ascending=False)
s1[s1.index != ' '][:5]

e    30
a    15
i    12
n    12
t    12
dtype: int64

In [ ]:
s2 =pd.Series({'z':5})
s1.append(s2)

e    0
     1
a    2
i    3
n    4
t    5
l    6
s    7
r    8
o    9
d    6
b    5
y    5
c    5
h    4
g    4
,    4
p    3
f    3
.    3
m    2
x    2
j    1
T    1
)    1
S    1
P    1
u    1
(    1
-    1
v    1
z    5
dtype: int64

# DataFrame
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.
- You can create a DataFrame from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
``` python
df = pd.DataFrame(data, index = index, columns = columns)
```
- ```index```/ ``` columns ``` is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df. 
- If you do not pass anything in, the input will be constructed by "common sense" rules

[**pandas.DataFrame**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

# DataFrame Creation From dict of series or dicts
- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be first converted to Series. 
- If no columns are passed, the columns will be the sorted list of dict keys.

In [ ]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df, end = end_string)

d= {'one': {'a': 1, 'b': 2, 'c':3}, 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df, end = end_string)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------
   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
--------------------------------------------------

In [ ]:
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}

print(pd.DataFrame(d, index = ['d', 'b', 'a']), end = end_string)
print(pd.DataFrame(d, index = ['d', 'b', 'a'], columns = ['two', 'three']),
      end = end_string)

   one  two
d  NaN    3
b  2.0    1
a  1.0    0
--------------------------------------------------
   two three
d    3   NaN
b    1   NaN
a    0   NaN
--------------------------------------------------

# From dict of ndarray / lists
- The ndarrays must all be the same length. 
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one' : [1., 2., 3., 4], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

# From a list of dicts

In [ ]:
data = []
for i in range(100):
    data += [ {'Column' + str(j):np.random.randint(100) for j in range(5)} ]
    # dictionary comprehension!
    
data[:5]

[{'Column0': 66, 'Column1': 20, 'Column2': 56, 'Column3': 40, 'Column4': 55},
 {'Column0': 0, 'Column1': 93, 'Column2': 85, 'Column3': 48, 'Column4': 4},
 {'Column0': 49, 'Column1': 65, 'Column2': 84, 'Column3': 15, 'Column4': 15},
 {'Column0': 41, 'Column1': 2, 'Column2': 54, 'Column3': 32, 'Column4': 71},
 {'Column0': 59, 'Column1': 26, 'Column2': 56, 'Column3': 26, 'Column4': 4}]

In [ ]:
# Creation from a list of dicts
df = pd.DataFrame(data)
print(df.head(), end = end_string)

   Column0  Column1  Column2  Column3  Column4
0       66       20       56       40       55
1        0       93       85       48        4
2       49       65       84       15       15
3       41        2       54       32       71
4       59       26       56       26        4
--------------------------------------------------

In [ ]:
# Only certain columns
df = pd.DataFrame(data, columns = ['Column0', 'Column1'])
df.head()

   Column0  Column1
0       66       20
1        0       93
2       49       65
3       41        2
4       59       26

## Attributes

- ``` df.index ``` : the row index of df
- ``` df.columns ``` : the columns of df
- ``` df.shape ``` : the shape of the df
- ``` df.values ``` : numpy array of values

In [ ]:
#df.values

In [ ]:
# Adding and accessing columns 
d = {'one': pd.Series([1,2,3], index  = ['a', 'b', 'c']), 
     'two': pd.Series(range(4), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
# multiply 
df['three'] =  df['one']*df['two']
# Create a boolean flag
df['flag'] = df['one'] > 2
print(df.head())

   one  two  three   flag
a  1.0    0    0.0  False
b  2.0    1    2.0  False
c  3.0    2    6.0   True
d  NaN    3    NaN  False

In [ ]:
# inserting column in specified location, with values
df.insert(1, 'bar', df['one'][:2])
print(df.head())

   one  bar  two  three   flag
a  1.0  1.0    0    0.0  False
b  2.0  2.0    1    2.0  False
c  3.0  NaN    2    6.0   True
d  NaN  NaN    3    NaN  False

In [ ]:
# Deleting Columns  
three = df.pop('three')
print(df.head(), end = end_string)
# Propagation of values
df['foo'] = 'bar'
print(df, end = end_string)

   one  bar  two   flag
a  1.0  1.0    0  False
b  2.0  2.0    1  False
c  3.0  NaN    2   True
d  NaN  NaN    3  False
--------------------------------------------------
   one  bar  two   flag  foo
a  1.0  1.0    0  False  bar
b  2.0  2.0    1  False  bar
c  3.0  NaN    2   True  bar
d  NaN  NaN    3  False  bar
--------------------------------------------------

In [ ]:
three

a    0.0
b    2.0
c    6.0
d    NaN
Name: three, dtype: float64

In [ ]:
type(df['one'])

pandas.core.series.Series

## Indexing and Selection 

- 4 methods ``` [], ix, iloc, loc ```

| Operation  | Syntax       | Result | 
|----|----------------------| ---------------------------|
| Select Column | df[col]   |    Series                      |
| Select Row by Label | df.loc[label] | Series  |
| Select Row by Integer Location | df.iloc[idx] |      Series                    |
| Slice rows | df[5:10]        |                        DataFrame  | 
| Select rows by boolean | df[mask]   | DataFrame        |

- Note all the operations below are valid on series as well restricted to one dimension

## Simplest form Of Indexing: []
- Series: selecting a label: s[label] 
- DataFrame: selection single or multiple columns: 
``` python 
df['col'] or df[['col1', 'col2']] ``` 
- DataFrame: slicing the rows:
``` python
df['rowlabel1': 'rowlabel2'] ``` 
or 
``` python 
df[boolean_mask] ```

In [ ]:
# Lets create a data frame
pd.options.display.max_rows = 4
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
print(df)

                   A         B         C         D
2000-01-01 -1.362937  1.483502  0.524516 -0.933905
2000-01-02 -0.206544 -1.254282 -0.923655  0.482976
...              ...       ...       ...       ...
2000-01-07  0.813464  0.576335  0.489329 -0.524453
2000-01-08  0.336468  0.042918  0.030945  1.078034

[8 rows x 4 columns]

In [ ]:
pd.date_range?

In [ ]:
# column  'A'
df['A']

2000-01-01   -1.362937
2000-01-02   -0.206544
                ...
2000-01-07    0.813464
2000-01-08    0.336468
Freq: D, Name: A, Length: 8, dtype: float64

In [ ]:
# multiple column 
df[['A', 'B']]

                   A         B
2000-01-01 -1.362937  1.483502
2000-01-02 -0.206544 -1.254282
...              ...       ...
2000-01-07  0.813464  0.576335
2000-01-08  0.336468  0.042918

[8 rows x 2 columns]

In [ ]:
# slice by rows
df['2000-01-01': '2000-01-04']

                   A         B         C         D
2000-01-01 -1.362937  1.483502  0.524516 -0.933905
2000-01-02 -0.206544 -1.254282 -0.923655  0.482976
2000-01-03  2.593812 -1.728788  0.722451  0.787070
2000-01-04 -0.620503 -1.572747 -0.407664  0.720351

In [ ]:
df.loc['2000-01-01': '2000-01-04',"A":"B"]

                   A         B
2000-01-01 -1.362937  1.483502
2000-01-02 -0.206544 -1.254282
2000-01-03  2.593812 -1.728788
2000-01-04 -0.620503 -1.572747

In [ ]:
df['A'] > df['B']

2000-01-01    False
2000-01-02     True
              ...
2000-01-07     True
2000-01-08     True
Freq: D, Length: 8, dtype: bool

In [ ]:
# boolean mask 
df[df['A'] > df['B']]

                   A         B         C         D
2000-01-02 -0.206544 -1.254282 -0.923655  0.482976
2000-01-03  2.593812 -1.728788  0.722451  0.787070
...              ...       ...       ...       ...
2000-01-07  0.813464  0.576335  0.489329 -0.524453
2000-01-08  0.336468  0.042918  0.030945  1.078034

[6 rows x 4 columns]

In [ ]:
# Assign via []
df['A'] = df['B'].values
df.head()

                   A         B         C         D
2000-01-01  1.483502  1.483502  0.524516 -0.933905
2000-01-02 -1.254282 -1.254282 -0.923655  0.482976
...              ...       ...       ...       ...
2000-01-04 -1.572747 -1.572747 -0.407664  0.720351
2000-01-05 -0.556448 -0.556448 -0.660143  0.547458

[5 rows x 4 columns]

In [ ]:
### You can also access a column by df.colname
df.B

2000-01-01    1.483502
2000-01-02   -1.254282
                ...
2000-01-07    0.576335
2000-01-08    0.042918
Freq: D, Name: B, Length: 8, dtype: float64

## Selecting by label .loc

- is primarily label based, but may also be used with a boolean array.
- .loc will raise KeyError when the items are not found
- Allowed inputs:
    1. A single label 
    2. A list of labels
    3. A boolean array

In [ ]:
## Selection by label .loc
df.loc['2000-01-01']

A    1.483502
B    1.483502
C    0.524516
D   -0.933905
Name: 2000-01-01 00:00:00, dtype: float64

In [ ]:
df.loc['2000-01-01':'2000-01-03', 'A':'C']

                   A         B         C
2000-01-01  1.483502  1.483502  0.524516
2000-01-02 -1.254282 -1.254282 -0.923655
2000-01-03 -1.728788 -1.728788  0.722451

In [ ]:
# Get columns for which value is greater than 0 on certain day, get all rows
df.loc[:, df.loc['2000-01-01'] > 0]

                   A         B         C
2000-01-01  1.483502  1.483502  0.524516
2000-01-02 -1.254282 -1.254282 -0.923655
...              ...       ...       ...
2000-01-07  0.576335  0.576335  0.489329
2000-01-08  0.042918  0.042918  0.030945

[8 rows x 3 columns]

## Selecting by position 

- The .iloc attribute is the primary access method. The following are valid input:
    - An integer
    - A list of integers
    - A slice 
    - A boolean array

In [ ]:
df1 = pd.DataFrame(np.random.randn(6,4), 
                   index=list(range(0,12,2)), columns=list(range(0,12,3)))

df1

           0         3         6         9
0  -1.249950  1.813411  1.049430  0.028633
2  -0.443398  0.439454 -0.021912 -0.255155
..       ...       ...       ...       ...
8   1.248732  0.346390 -0.897315 -0.887697
10 -0.511324 -0.983307  0.739330 -0.387867

[6 rows x 4 columns]

In [ ]:
# rows 0-2
df1.iloc[:3]

          0         3         6         9
0 -1.249950  1.813411  1.049430  0.028633
2 -0.443398  0.439454 -0.021912 -0.255155
4 -0.515875  0.712746  0.145403  1.436630

In [ ]:
#  rows 1:5  and columns 2 : 4
df1.iloc[1:5, 2:4]

          6         9
2 -0.021912 -0.255155
4  0.145403  1.436630
6 -0.180652  0.315750
8 -0.897315 -0.887697

In [ ]:
# select via integer list
df1.iloc[[1,3,5], [1,3]]

           3         9
2   0.439454 -0.255155
6  -0.536210  0.315750
10 -0.983307 -0.387867

In [ ]:
# selecting via integer mask 
boolean_mask = df1.iloc[:, 1] > 0.0
print(boolean_mask.values)
df1.iloc[boolean_mask.values,1]

[ True  True  True False  True False]

0    1.813411
2    0.439454
4    0.712746
8    0.346390
Name: 3, dtype: float64

### Exercise

Given the dataframe, find the following
- Last two rows of columns A and D
- Last three rows such which statisfy that column A > Column B

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

                   A         B         C         D
2000-01-01  1.182799  0.464483 -0.960439  0.956026
2000-01-02  0.041333  0.365082 -0.897081 -0.265709
...              ...       ...       ...       ...
2000-01-07 -0.069826 -0.150769  0.230082  1.166495
2000-01-08  0.175498  0.126835  2.700610  0.438449

[8 rows x 4 columns]

In [ ]:
df[['A','D']].iloc[-2:]

                   A         D
2000-01-07 -0.069826  1.166495
2000-01-08  0.175498  0.438449

In [ ]:
df.loc[df['A'] > df['B']].iloc[-3:]

                   A         B         C         D
2000-01-04  0.644966 -0.668630 -0.126835  1.219283
2000-01-07 -0.069826 -0.150769  0.230082  1.166495
2000-01-08  0.175498  0.126835  2.700610  0.438449

# Merging DataFrames

- Pandas has full-featured, very high performance, in memory join operations that are very similar to SQL and R 

- The documentation is https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

- Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects: 
``` python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True) ```

The sequence of operations in a basic call to `pd.merge()` is:

1. Check all columns in `left` and `right`. Let S be the set of columns which are present in both 
2. For every row of `left`, check if it has a corresponding row in `right` with the same values among the columns in S. 
3. If two matching rows are found, merge the rows together in the natural way.

The `how` parameter determines how Pandas will deal with the rows that don't match.

In [ ]:
# Example of merge
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [4, 2]})
right = pd.DataFrame({'key': ['bar', 'zoo'], 'rval': [4, 5]})

print("left: ",left,"right: ",right, sep=end_string)

left:
--------------------------------------------------
   key  lval
0  foo     4
1  bar     2
--------------------------------------------------
right:
--------------------------------------------------
   key  rval
0  bar     4
1  zoo     5

In [ ]:
merged = pd.merge(left, right, how="inner")
print(merged)
#inner ignores all rows in left which don't have a match in right (and vice versa)

   key  lval  rval
0  bar     2     4

In [ ]:
merged = pd.merge(left, right, how="outer")
print(merged)
#outer keeps all rows which don't have a match, filling missing entries with NaN

   key  lval  rval
0  foo   4.0   NaN
1  bar   2.0   4.0
2  zoo   NaN   5.0

In [ ]:
merged = pd.merge(left, right, how="left")
print(merged)
#left keeps all rows in `left` if they don't have a match, but ignores rows in right if they don't match

   key  lval  rval
0  foo     4   NaN
1  bar     2   4.0

In [ ]:
merged = pd.merge(left, right, how="right")
print(merged)
#right does the same thing as left but on the `right` df

   key  lval  rval
0  bar   2.0     4
1  zoo   NaN     5

In [ ]:
#the 'on' keyword specifies which columns to check for matches. By default .merge checks all shared columns
left['shared'] = 1 
right['shared'] = 2
print(left,end=end_string)
print('\n')
print(right,end=end_string)
merged = pd.merge(left, right, how="inner", on=['key'])
print(merged,end=end_string)
#this now merges based on 'key' only. 
right['shared'] = 1
merged = pd.merge(left, right, how="inner", on = ['key','shared'])
print(merged)

   key  lval  shared
0  foo     4       1
1  bar     2       1
--------------------------------------------------


   key  rval  shared
0  bar     4       2
1  zoo     5       2
--------------------------------------------------
   key  lval  shared_x  rval  shared_y
0  bar     2         1     4         2
--------------------------------------------------
   key  lval  shared  rval
0  bar     2       1     4

`on_left` and `on_right` lets us merge based on columns which have different names in `left` and `right` (they need to be of the same type though)

In [ ]:
left = pd.DataFrame({'key': ['test', 'test'], 'lval': [4, 2]})
right = pd.DataFrame({'key': ['test', 'test'], 'rval': [4, 5]})
pd.merge(left,right)
#gives all pairs of rows

    key  lval  rval
0  test     4     4
1  test     4     5
2  test     2     4
3  test     2     5

## Function Application
 - Row or Column-wise Function Application: Applies function along input axis of DataFrame
```python 
df.apply(func, axis = 0) ``` 
 - Elementwise: apply the function to every element in the df 
 ```python 
df.applymap(func) ``` 

- Note, ``` applymap ``` is equivalent to the ``` map ``` function on lists. 
- Note, ``` Series ``` objects support ``` .map ``` instead of ``` applymap ```

In [ ]:
## APPLY EXAMPLES
df1 = pd.DataFrame(np.random.randn(6,4), index=list(range(0,12,2)), columns=list('abcd'))
df1

           a         b         c         d
0  -1.994608 -0.152021  0.108041 -0.855526
2   0.895061  0.851111 -0.369965 -0.389647
..       ...       ...       ...       ...
8   0.559363  0.561817  0.794551  2.464738
10  0.125374  0.329242 -3.459012  0.054606

[6 rows x 4 columns]

In [ ]:
# Apply to each column
df1.apply(np.mean)

a   -0.060870
b   -0.162562
c   -0.658526
d   -0.030845
dtype: float64

In [ ]:
# Apply to each row
df1.apply(np.mean, axis = 1)

0    -0.723528
2     0.246640
        ...
8     1.095117
10   -0.737448
Length: 6, dtype: float64

### Side note: lambda functions

lambda functions allow you to specify a function without giving it a separate declaration.  For example, the function 
```python
lambda x: (x - x.mean())/x.std()
```
is equivalent to the function
```python
def normalize(x):
    return (x - x.mean())/x.std()
```
You'll often see lambda functions used in list comprehensions, or in methods (like `map()`, `apply()`, or `applymap()`) that take a function as input.

In [ ]:
def normalize(x):
    return (x - x.mean())/x.std()
# # Use lambda functions  to normalize columns
df1 = df1.apply(lambda x: (x - x.mean())/ x.std(), axis = 0)
df1

           a         b         c         d
0  -1.496387  0.010321  0.513155 -0.625909
2   0.739729  0.992407  0.193168 -0.272320
..       ...       ...       ...       ...
8   0.479955  0.709182  0.972718  1.894077
10  0.144121  0.481486 -1.874699  0.064855

[6 rows x 4 columns]

In [ ]:
#lecture 7
## APPLY EXAMPLES CONT
# Create DF with 1000 rows and 3 columns filled with random entries
tsdf = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'],
                    index=pd.date_range('1/1/2000', periods=1000))

tsdf

                   A         B         C
2000-01-01 -0.992550 -1.111202  0.348438
2000-01-02  0.955349 -2.658970  1.135902
...              ...       ...       ...
2002-09-25 -2.530995  0.469297 -1.971643
2002-09-26  1.773212 -0.553094 -0.409036

[1000 rows x 3 columns]

In [ ]:
# Can get trickier, say I wanted to find where the maximum dates occured for each column of the df:
tsdf.apply(lambda x: x.idxmax())

In [ ]:
## APPLYMAP EXAMPLES
tsdf = tsdf.applymap(lambda x: x - 1)
print(tsdf.head())

# I/O Functions

- There are loads of input output features. The highlights most useful to you are likely:
    - ``` pd.read_csv ``` / ``` pd.to_csv ``` 
    - ``` pd.read_excel ``` / ``` pd.to_excel ```
    - ``` pd.read_sql ``` / ``` pd.to_sql ```
    - ``` pd.read_pickle ``` / ``` pd.to_pickle ```
Documentation:

* [Pandas Import-Output Functions](https://pandas.pydata.org/pandas-docs/stable/io.html)

### Loading data from CSV
Here are the first several lines of `iris.csv`:

```
sepal_length,sepal_width,petal_length,petal_width,name
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
```

In [ ]:
import pandas as pd
# Can use df.info to find out information about the df 
iris_data = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv')

#iris_data = pd.read_csv('./data/iris.csv')
iris_data.info()

In [ ]:
# describe and summarize the dataframe
iris_data.describe()

## The split/apply combo (groupyby)
- pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names:
- Syntax:  
    - ``` groups = df.groupby(key) ```
    - ``` groups = df.groupby(key, axis = 1) ```
    - ``` groups = df.groupby([key1, key2], axis = 1) ```


- The group by concept is that we want to apply the same function on subsets of the dataframe, based on some key we use to split the DataFrame into subsets
- This idea is referred to as the "split-apply-combine" operation:
    - Split the data into groups based on some criteria
    - Apply a function to each group independently
    - Combine the results 

![image](https://i.stack.imgur.com/sgCn1.jpg)

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

In [ ]:
sums = df.groupby('key').agg(np.mean)
sums

# Plotting data

- The plot method on Series and DataFrame is just a wrapper on matplotlib plt.plot()
- Many available plots:
    - â€˜barâ€™ or â€˜barhâ€™ for bar plots
    - â€˜histâ€™ for histogram
    - â€˜boxâ€™ for boxplot
    - â€˜kdeâ€™ or 'density' for density plots â€¢ â€˜areaâ€™ for area plots
    - â€˜scatterâ€™ for scatter plots
    - â€˜hexbinâ€™ for hexagonal bin plots â€¢ â€˜pieâ€™ for pie plots
    
- There are several more complex plotting functions in pandas.tools.plotting that take a Series or DataFrame as an argument. These include:
    - Scatter matrices
    - Autocorrelation
    - Bootstrap Plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
iris_data.plot();

In [ ]:
## Quick example - Random walks
df = pd.DataFrame(np.random.randn(1000, 4), index =pd.date_range('1/1/2000', periods=1000), columns=list('ABCD'))
df = df.cumsum()
df.plot()
plt.show()

In [ ]:
plt.figure()
df.iloc[5].plot(kind = 'bar')
plt.axhline(0, color = 'k')

In [ ]:
#data = pd.read_csv('./data/iris.csv')
ax = iris_data.groupby('species') \
         .get_group('setosa') \
         .boxplot(column=["sepal_length","sepal_width"], return_type='axes')