Exercise 1
Due March 3, 2022 11:59 PM  
Closes March 4, 2022 12:05 AM  
Instructions


Do all of the exercises in 1 (Basics), 2 (Control flow) and 3 (Functions) in the following file https://web.stanford.edu/~schmit/cme193/ex/exercises.pdf. In case an exercise needs additional code, it is here https://web.stanford.edu/~schmit/cme193/exercises.html.  
You are required to prepare a Jupyter notebook (i.e. a .ipynb file) with code and associated text to separate every question from another.  
You must manage your codes in a GitHub repository.  
Notebooks must be shared through the web by using the following tool http://nbviewer.jupyter.org/ which renders a notebook in GitHub as a static HTML web page, and gives you a stable link to that page which you can share with others.  
Your submission should be named SurnameName_EX.txt, where X is replaced with the assignment number, e.g. AkcayGokhan_E3.ipynb for exercise #3. This .txt file must contain only your nbviewer link.  
Unless otherwise mentioned, please render a single notebook file.

Exercise 1.1: The interpreter  
Open the Python interpeter. What happens when you input the following statements:  
(a) 3 + 1  
(b) 3 * 3  
(c) 2 ** 3  
(d) "Hello, world!"

In [ ]:
#Only the last item is printed
3 + 1
3 * 3
2 ** 3
"Hello, world!"

'Hello, world!'

In [ ]:
#performs the operation and prints the output
3 + 1

4

In [ ]:
#note that the output is not stored in a variable, and so is not addressable
3 * 3

9

In [ ]:
#base ** exponent, in the usual way
2 ** 3

8

Exercise 1.2: Scripts  
Now copy the above to a script, and save it as script1.py. What happens if you run the script? (try:  
python script1.py). Can you fix this (hint: use the print function)

In [ ]:
!touch script1.py
#verify file exists and is empty
!cat script1.py

In [ ]:
!echo "print(3 + 1)" >> script1.py
!echo  "print(3 * 3)" >> script1.py
!echo "print(2 ** 3)" >> script1.py
!echo "print(\"Hello, world!\")" >> script1.py

In [ ]:
!cat script1.py

print(3 + 1)
print(3 * 3)
print(2 ** 3)
print("Hello, world!")

In [ ]:
!python script1.py

4
9
8
Hello, world!

Exercise 1.3: More interpreter  
Explain the output of the following statements if executed subsequently:  
(a) ’py’ + ’thon’  
(b) ’py’ * 3 + ’thon’  
(c) ’py’ - ’py’  
(d) ’3’ + 3  
(e) 3 * ’3’  
(f) a  
(g) a = 3  
(h) a

In [ ]:
a=3
print(a)

3

In [ ]:
#single quotes sometimes leads to errors, better to use double quotes, output is 'python'
"py" + "thon"
#can't concatenate strings and integers
"py" * 3 + "thon"
#difference operation not supported for type string
'py' - 'py'
#can't concatenate strings and integers
"3" + 3
#concatenate '3' three times
3 * "3"
# 'a' is not defined
a
#assins '3' to 'a', not allowed as argument to print function
a = 3
# a is now 3
a

TypeError: ignored

Exercise 1.4: Booleans  
Explain the output of the following statements:  
(a) 1 == 1  
(b) 1 == True  
(c) 0 == True  
(d) 0 == False  
(e) 3 == 1 * 3  
(f) (3 == 1) * 3  
(g) (3 == 3) * 4 + 3 == 1  
(h) 3**5 >= 4**4

In [ ]:
#prints true
print(1 == 1)
#true is any number other than zero
print(1 == True)
#zero not equal a non-zero number
print(0 == True)
#zero equals false, so prints true
print(0 == False)
#boolean has lower precedence, so 3 == 3
print(3 == 1 * 3)
#parentheses have higher precedence, so 0 * 3
print((3 == 1) * 3)
#1 * 4 + 3 is 7, and 7 is not 1, so false
print( (3 == 3) * 4 + 3 == 1)
#35 is not greater than or equal to 44, so false
print(35 >= 44)

True
True
False
True
True
0
False
False

Exercise 1.5: Integers  
Explain the output of the following statements:  
(a) 5 / 3  
(b) 5 % 3  
(c) 5.0 / 3  
(d) 5 / 3.0  
(e) 5.2 % 3    
(f) 2001 ** 200

In [ ]:
#cast to float, divide
print(5 / 3  )
#remainder after division
print(5 % 3  )
##same as firs one, output is float
print(5.0 / 3  )
#Output is float
print(5 / 3.0  )
#remainder after division
print(5.2 % 3  )
#prints truncated value, length 661
print(2001 ** 200 )

1.6666666666666667
2
1.6666666666666667
1.6666666666666667
2.2
1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

Exercise 1.6: Floats  
Explain the output of the following statements:  
(a) 2000.3 ** 200 (compare with above)  
(b) 1.0 + 1.0 - 1.0  
(c) 1.0 + 1.0e20 - 1.0e20

In [ ]:
#OverflowError: (34, 'Numerical result out of range'). Because of the decimal part. Maybe possible with 128 bit encoding?
2000.3 ** 200

OverflowError: ignored

In [ ]:
#evaluates left to right, so 2.0 - 1.0, not 1.0 + 0.0
print(1.0 + 1.0 - 1.0  )
#due to round off, 1.0 + 1.0e20 yields 1.0e20. need to be careful about that
print(1.0 + 1.0e20 - 1.0e20)

1.0
0.0

Exercise 1.7: Variables  
Write a script where the variable name holds a string with your name. Then, assuming for now your
name is John Doe, have the script output: Hello, John Doe! (and obviously, do not use print "Hello,
John Doe!".

In [ ]:
!touch script2.py
#verify file exists and is empty
!cat script2.py

In [ ]:
#this doesn't work
!echo "myname = 'John Doe!'" >> script2.py
!echo "\"Hello, \"" >> script2.py
!echo "myname" >> script2.py
!cat script2.py
!python script2.py

myname = 'John Doe!'
"Hello, "
myname

In [ ]:
!rm script2.py
!touch script2.py
#this DOES work
!echo "myname = 'John Doe!'" >> script2.py
!echo "print(\"Hello, \" + myname)" >> script2.py
!cat script2.py
!python script2.py

myname = 'John Doe!'
print("Hello, " + myname)
Hello, John Doe!

Exercise 1.8: Type casting  
Very often, one wants to “cast” variables of a certain type into another type. Suppose we have variable
x = ’123’, but really we would like x to be an integer.  
This is easy to do in Python, just use desiredtype(x), e.g. int(x) to obtain an integer.  
Try the following and explain the output  
(a) float(123)  
(b) float(’123’)  
(c) float(’123.23’)  
(d) int(123.23)  
(e) int(’123.23’)  
(f) int(float(’123.23’))  
(g) str(12)  
(h) str(12.2)  
(i) bool(’a’)  
(j) bool(0)  
(k) bool(0.1)

In [ ]:
#widening cast, no problem here
print(float(123)            )

123.0

In [ ]:
#these will throw syntax error due to 'backtick' character...
print(float(’123’)          )
print(float(’123.23’)       )

SyntaxError: ignored

In [ ]:
#...replace with single quote and everything is fine
print(float('123')          )
print(float('123.23')       )

123.0
123.23

In [ ]:
#narrowing cast, loss of precision
print(int(123.23)           )

123

In [ ]:
#not a valid literal from which to cast to int...
print(int('123.23')         )

ValueError: ignored

In [ ]:
#...solved by first casting to float
print(int(float('123.23'))  )

123

In [ ]:
#string representation of an integer, cast int to string
print(str(12)               )
#cast float to string
print(str(12.2)             )
#evaluates to true because ASCII value of the character literal is not zero
print(bool('a')             )
#evaluates to false because false is equal to zero
print(bool(0)               )
#evaluates to true because true is anything that is not exactly zero
print(bool(0.1)             )
#BONUS: zero value is independent of datatype (recall the need to cast string to float BEFORE casting to int)
print(bool(0.0)             )

12
12.2
True
False
True
False

2 Control flow  
Disclaimer: Some of the following problems are inspired by problems from www.projecteuler.net. Have a
look if you are interested, there are some great challenges and Python is an excellent tool for solving them.  
Exercise 2.1: Range  
Type range(5) in the interpreter, what does the interpreter return? So what does for i in range(5)
mean?  
Let’s also find out whether the interpreter can help us understand the object ‘range(5)’ better. Type
type(range(5)) in the interpreter. More on this soon!

In [ ]:
#returns the description of default start with stop specified
range(5)

range(0, 5)

In [ ]:
#additionally, start can be specified
range(1,5)

range(1, 5)

In [ ]:
#also can specify increment
range(1,5,2)

range(1, 5, 2)

In [ ]:
#for i in range(5) means start at 0, increment by one, stop at (not including) 5
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#simplified way to reverse a for loop...
for i in reversed(range(0,50,5)):
  print(i)

45
40
35
30
25
20
15
10
5
0

In [ ]:
#...which is equivalent to (note in/decrement applied at end of loop cycle)
for i in range(45,-1,-5):
  print(i)

45
40
35
30
25
20
15
10
5
0

In [ ]:
#not much info, just returns the type, no details
type(range(5))

range

Exercise 2.2: For loops  
Use a for loop to:  
(a) Print the numbers 0 to 100  
(b) Print the numbers 0 to 100 that are divisible by 7  
(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3  
(d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence,
for 18, it should print 2 3 6 9.
Hint: see https://docs.python.org/2.7/library/functions.html#range.

In [ ]:
#101 so that 100 is included in the printing
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#modulus return remainder after division, which is zero when 1st number is divisible by 2nd number
for i in range(101):
  if(i%7 == 0):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# and keyword is equivalent to && in other languages, != means not equal
for i in range(101):
  if(i%5 == 0 and i%3 != 0):
    print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [ ]:
#blank lines correspond to prime numbers, end =" " allows printing on same line
for i in range(2,20):
  for j in range(2,i):
    if(i%j == 0):
      print(j, end =" ")
  print()

2

2 3

2 4
3
2 5

2 3 4 6

2 7
3 5
2 4 8

2 3 6 9

In [4]:
f = lambda x: [ i for i in range(2, x) if not (x % i) ]
for x in range(2,20): print(x,f(x))

2 []
3 []
4 [2]
5 []
6 [2, 3]
7 []
8 [2, 4]
9 [3]
10 [2, 5]
11 []
12 [2, 3, 4, 6]
13 []
14 [2, 7]
15 [3, 5]
16 [2, 4, 8]
17 []
18 [2, 3, 6, 9]
19 []

Exercise 2.3: Simple while loops  
Instead of using a for loop, use a while loop to:  
(a) Print the numbers 0 to 100  
(b) Print the numbers 0 to 100 that are divisible by 7

In [3]:
#0 to 100, together with those that are divisible by 7
i = 0
while(i<101):
  if(i%7 == 0):
    print(i,end=' ')
  i += 1
print()
#alternatively
i = 0
while(i<101):
#for i in range(100):
  if not i%7:
    print(i, end=' ')
  i += 1
print()
#or
i = 0
while(i<101):
#for i in range(0,100,7):
  print(i, end=' ')
  i += 7

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98
0 7 14 21 28 35 42 49 56 63 70 77 84 91 98
0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

Exercise 2.4: Hangman update 1  
Let’s reconsider the hangman code we saw in class.1 We noted that the computer agent is not very good
at guessing. Update the code such that the computer guesses ‘e’ first, and ’a’ second.
Use the simulate.py script to see if this improves performance.  
Feel free to play around and see if you can do better!

In [ ]:
#replace 
""" 
ch = random.sample(self.available, 1)[0] 
"""
#with 
"""
ch = ''
if(self.available.contains('e')):
  ch = 'e'
elif(self.available.contains('a')):
  ch = 'a'
else:
  ch = random.sample(self.available, 1)[0]

self.available.remove(ch)
return ch
"""

"\nch = ''\nif(self.available.contains('e')):\n  ch = 'e'\nelif(self.available.contains('a')):\n  ch = 'a'\nelse:\n  ch = random.sample(self.available, 1)[0]\n\nself.available.remove(ch)\nreturn ch\n"

Exercise 2.5: While loops  
Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them  
Hint: store the number found so far in a variable.  
Pseudo-code:  
number found = 0  
x = 11  
while number found is less than 20:  
if x is divisible by 5, 7 and 11:  
print x  
increase number found by 1  
increase x by 1

In [ ]:
#not much to say about this
count = 0
x = 5
while(count < 20):
  if(x%5 == 0 and x%7 == 0 and x%11 == 0):
    count += 1
    print(x)
  x += 1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

Exercise 2.6: More while loops  
The smallest number that is divisible by 2, 3 and 4 is 12.  
Find the smallest number that is divisible by
all integers between 1 and 10.

In [ ]:
#target number will be 1*5*7*8*9=2520,  a number divisible by 9 is also divisible by 3, so 3 is not needed. similary for 2,4,6
found = False
x = 0
while(not found):
  candidate = True
  x += 1
  for i in range(1,11):
    if(x%i != 0):
      candidate = False
      break
    else:
      continue
  if(candidate):
    found = True
        
if(found):
  print(x)

2520

In [7]:
#alternative
number = 1
check = True
while check:
  check = False
  for i in range(1,10):
    if number % i:
      check=True
  number += 1
number -= 1
print(number)

2520

In [6]:
#yet another alternative
numbers = [i for i in range(1,10)]
n = 1
while not all(map(lambda x: not n % x, numbers)):
  n += 1
print(n)

2520

Exercise 2.7: Collatz sequence  
A Collatz sequence is formed as follows: We start with some number $x_0$, and we find the next number
in the sequence by 
\begin{align}
    x_{i+1} = \left\{
    \begin{array}{cl}
    \frac{x_i}{2} & x_i \text{ is even} \\
    3x_i + 1  & x_i \text{  is odd}
    \end{array}
    \right.
\end{align}
   
If $x_i = 1$, we stop iterating and have found the full sequence.  
For example, if we start with $x_0 = 5$, we obtain the sequence:  
5 16 8 4 2 1  
It is conjectured, though not proven, that every chain eventually ends at 1.  
Print the Collatz sequence starting at $x_0 = 103$.

In [ ]:
#pretty self explanatory
collatz = []
x = 103
while(x != 1):
  collatz.append(x)
  if(x%2 == 0):
    x = (int)(x/2)
  else:
    x = 3*x + 1
collatz.append(x)
for elt in collatz:
  print(elt)

3 Functions  
Exercise 3.1: Hello  
(a) Write a function hello_world that prints ’Hello, world!’  
(b) Write a function hello_name(name) that prints ’Hello, name!’ where name is a string.  
(c) Explain the difference between the print and return keywords. What would change if instead of
print you would use return?

In [ ]:
#never understood the reason for the comma
def hello_world():
  print("Hello World!")
hello_world()

Hello World!

In [ ]:
#formatting is needed to not introduce unwanted whitespace
def hello_name(yourname):
  print("Hello, {}{}".format(yourname,"!"))
hello_name("Squirrely")

Hello, Squirrely!

In [ ]:
#returns with single quotes
def hello_name(yourname):
  return "Hello, {}{}".format(yourname,"!")
hello_name("Squirrely")

'Hello, Squirrely!'

Exercise 3.2: Polynomial  
Write a function that evaluates the polynomial $3x^2 − x + 2$.

In [ ]:
def quad(x):
  return 3*x**2-x+2
quad(4)

46

In [ ]:
#more elaborately
def quad2(a,b,c,x):
  return a*x**2+b*x+c
quad2(3,-1,2,4)

46

Exercise 3.3: Maximum  
Write a function my_max(x,y) that returns the maximum of x and y. Do not use the max function, but
use if instead in following two ways:  
(a) Use both if and else.  
(b) Use if but not else (nor elif).

In [ ]:
#the basic way, doesn't handle x = y (that would require elif)
def my_max1(x,y):
  if(x > y):
    return x
  else:
    return y
my_max1(1,1)

1

In [ ]:
#because return means return control to the caller, ending the functions activity, and again, x = y is not handled
def my_max2(x,y):
  if(x > y):
    return x
  return y
my_max2(1,1)

1

Exercise 3.4: Primes  
(a) Write a function is_prime(n) that returns True only if n is prime.  
(b) Note that apart from 2 and 3, all primes are of the form 6k ± 1 (though not all numbers of the
form 6k ± 1 are prime of course). Using this, we can improve the computation time by a factor 3.
Update your function to use this.  
(c) Write a function that returns all primes up to n.  
(d) Write a function that returns the first n primes.

In [ ]:
#return True if n is prime
def is_prime1(n):
  for i in range(2,n):
    if(n%i == 0):
      return False
  return True
is_prime1(102)

False

In [ ]:
#loops k times, k < n
def is_prime2(n):
  if(n < 4):
    return #fail silently
  s = (int)((n+1)/6)
  for i in range(s+1):
    if(n == (6*i - 1) or n == (6*i + 1)):
      return True
  return False
is_prime2(103)

True

In [8]:
#could have used n = 6*k +/- 1 from above, but ... nah
def is_prime3(n):
  for i in range(2,n+1):
    prime = True
    for j in range(2,i):
      if(i%j == 0):
        prime = False
        break
    if(prime):
      print(i, end=' ')
    
is_prime3(103)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103

In [ ]:
#return specified number of primes
def is_prime4(n):
  c = []
  p = 2
  g = 3
  while(len(c) < n):
    for i in range(p,g):
      prime = True
      for j in range(2,i):
        if(i%j == 0):
          prime = False
          break
      if(prime):
        c.append(p)
        p = g
      g +=1
  return c 
print(is_prime4(13))

[2, 3, 4, 7, 8, 15, 21, 27, 33, 45, 51, 57, 63]

In [ ]:
#same as previous, but using n = 6*k +/- 1
def is_prime5(n):
  c = [2,3]
  p = 2
  g = 4
  while(len(c) < n):
    s = (int)((g+1)/6)
    for i in range(s+1):
      if(g == (6*i - 1) or g == (6*i + 1)):
        c.append(g)
        break
    g += 1
  return c
    
print(is_prime5(7))

[2, 3, 5, 7, 11, 13, 17]

Exercise 3.5: Root finding  
Suppose f is a continuous function and f(a) < 0 and f(b) > 0 for some known a and b. For simplicity,
assume a < b. Then, there must exist some c such that f(c) = 0.  
(a) Write a function root(f, a, b) that takes a function f and two floats a and b and returns the
root c. Hint: check the sign at the midpoint of the interval.  
(b) Remove the assumption that a < b, and that f(a) < 0 and f(b) > 0, if your current code relies on
them.  
(c) Add a check that prints ’function evals have same sign’ if f(a) > 0 and f(b) > 0 or if f(a) < 0 and f(b) < 0

In [ ]:
#note the need to import math library and to pass function name without parentheses
import math
def root(f,a,b):
  if(b < a or b == a):
    raise ValueError("b less or equal a, which is not allowed")
  else:
    if (f(a) >= 0 or f(b) <= 0):
      raise ValueError("f(a) >= 0 or f(b) <= 0")
    c = (a + b)/2
    cout = f(c)
    if(cout == 0):
      return c
    elif(cout < 0):
        return root(f,c,b)
    else:
        return root(f,a,c)    
print(root(math.log10, 0.5,2))

1.0

In [ ]:
import math
def root(f,a,b):
  if(b < a):#handle case in which b < a
    return -root(f,b,a)
  else:
    if(b == a):
      raise ValueError("a and b are equal, which is not allowed")
    fa = f(a)
    fb = f(b)
    c = (a + b)/2
    cout = f(c)
    if(cout == 0):
      return c
    elif(cout < 0):#extra cases to handle f(a) > f(b)
      if(fa < 0):
        return root(f,c,b)
      else:
        return root(f,a,c)
    else:
      if(fa < 0):
        return root(f,a,c)
      else:
        return root(f,c,b)
print(root(math.log10, 0.5,2))

1.0

In [ ]:
#same sign means f doesn't cross zero
import math
def root(f,a,b):
  if(b < a):
    return -root(f,b,a)
  else:
    if(b == a):
      raise ValueError("a and b are equal, which is not allowed")
    fa = f(a)
    fb = f(b)
    if ((fa > 0 and fb > 0) or (fa < 0 and fb < 0)):
      raise ValueError("function evals have same sign")
    c = (a + b)/2
    cout = f(c)
    if(cout == 0):
      return c
    elif(cout < 0):
      if(fa < 0):
        return root(f,c,b)
      else:
        return root(f,a,c)
    else:
      if(fa < 0):
        return root(f,a,c)
      else:
        return root(f,c,b)
print(root(math.log10, 0.5,2))

1.0